body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.weather-app {
  color: #57385c;

  padding: 30px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
  border: 5px double rgba(26, 6, 52, 0.2);
  border-radius: 11px;
  box-shadow: 11px 12px 18px 3px rgba(57, 7, 108, 0.2);
}
h1 {
  color: #878787;
}
li {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-temperature img {
  margin-right: 15px;
}
.weather-temperature strong {
  color: black;
  font-size: 36px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -15px;
  text-decoration: none;
}
.weather-temperature .active {
  color: black;
  text-decoration: none;
  cursor: default;
}
.weather-temperature .active:hover {
  color: black;
  text-decoration: none;
  cursor: default;
}
.location {
  padding: 0;
}
.weather-forecast {
  text-align: center;
  margin-top: 20px;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
